{{#each questions}}

<!--Card-->

<div class="my-card">
    <div class="my-card-header">
        <div class="my-card-header-right">
            <div class="avatar-wrapper">
                <img src="./imgs/general-avatar.png" alt="General avatar">
            </div>
            <div class="my-card-title-wrapper">
                <h2>{{title}}</h2>
                <div class="my-card-info">
                    <div class="my-card-date">15/09/2022</div>
                </div>
            </div>
        </div>
        <div class="my-card-header-left">
            <button class="my-card-button-like">
                <i>
                    <span class="material-symbols-outlined">
                        thumb_up
                    </span>
                </i>
                <span class="my-card-count-like">{{likes}}</span>
            </button>
        </div>
    </div>
    <div class="my-card-body">
        <p>
            {{content}}
        </p>
    </div>
    <div class="my-card-footer">
        <a href="/commentPage">
            <button id="comment-button" class="comment-button">
                Reply
            </button>
        </a>
    </div>
</div>
<!--Final do Card-->

{{else}}

{{/each}}