.comment-container{
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: flex-end;
}

.comment{
    margin-bottom: 30px;
    padding: 15px;
    width: 95%;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(218, 218, 218);
}

.comment-right{
    flex-grow: 9;
}

.comment-left{
    flex-grow: 1;
}

.comment-avatar-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.comment-span{
    width: 100%;
    height: 50%;
}

.comment-img-wrapper{
    width: 50px;
    height: 50px;
}

.comment-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.comment-left{
    padding: 20px 20px 20px 10px;
}

.comment-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-date {
    font-size: 14px;
}

.comment-header, .comment-body{
    padding-bottom: 5px;
}

.comment-header h3{
    font-size: 1.3rem;
}

.comment-body p{
    font-size: small;
    color: rgb(105, 105, 105);
} 

.comment-footer {
    display: flex;
}