<div class="container-wrapper">
    <div class="container">
        <div id="container-right" class="container-right">
            <div class="form-content border bg-white">
                <form action="/makepost/new" method="post">
                    <div class="mb-3">
                        <input name="title" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Title">
                        <div id="emailHelp" class="form-text">Choose a simple and descriptive title</div>
                    </div>
                    <div class="mb-3">
                        <label class="text-secondary" for="exampleFormControlTextarea1">Content</label>
                        <textarea name="content" class="form-control mt-3" style="max-height: 250px;"
                            id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-outline-primary btn-post">Make a question</button>
                </form>
            </div>
        </div>
        <div id="container-left" class="container-left">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    tip
                </div>
                <div class="card-body">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum ratione sint dolore
                    architecto nam porro, ex odit vitae.
                </div>
            </div>
        </div>
    </div>
</div>