<div class="container-wrapper">
    <div class="container">
        <div id="container-right" class="container-right">
            <div class="d-flex flex-column">
                <div class="p-2"> <img src="./imgs/carla-luca-de-tena-o36EVlzfdQo-unsplash.jpg" alt=""
                        class="img-wrapper"></div>
                <div class="p-2">
                    <h2 class="name">ismaelmello5</h>
                </div>
                <div class="p-2"><a href="https://www.instagram.com/ismaelmello5/" class="link-name">Ismael Mello</a>
                </div>
                <div class="p-2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, modi. Rem
                        voluptates quia velit facere.</p>
                </div>
            </div>
        </div>
        <div id="container-left" class="container-left">
        </div>
    </div>
</div>